.App {
  text-align: center;
  display: flex;
    justify-content: center;
    margin-top: 80px;
}

.title {
  background-color: #034488;
  color: white;
  width: 270px;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.content {
  background-color: #178fd6;
  width: 270px;
  padding: 10px;
  color: white;
}

button {
  background-color: #178fd6;
  border: none;
  padding: 5px 20px;
  margin-top: 15px;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
}